@model MapIOTLinkAPI.Catalog.ObjectCreateRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MapObject</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="ObjUrl" class="control-label">Đối tượng<span class="asterisk">*</span></label>
                            <select asp-for="ObjUrl" class="custom-select">
                                <option>Chọn đối tượng</option>
                                <option value="https://sw-hcm-1.vinadata.vn/v1/AUTH_4486f66f671c41bab0d3dea1904626d4/sdk/models/5e7d67ce4bc3cf1de4a87200.obj">Chung Cư 12 Tầng</option>
                                <option value="https://sw-hcm-1.vinadata.vn/v1/AUTH_4486f66f671c41bab0d3dea1904626d4/sdk/models/5eb3c276fc2a581128bd689e.obj">Công An</option>
                                <option value="https://sw-hcm-1.vinadata.vn/v1/AUTH_4486f66f671c41bab0d3dea1904626d4/sdk/models/5eb3c2c5fc2a581128bd68a4.obj">Khách Sạn Nhỏ</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="TextureUrl" class="control-label">Ảnh<span class="asterisk">*</span></label>
                            <select asp-for="TextureUrl" class="custom-select">
                                <option>Chọn ảnh</option>
                                <option value="https://sw-hcm-1.vinadata.vn/v1/AUTH_4486f66f671c41bab0d3dea1904626d4/sdk/textures/5e7d67cf4bc3cf1de4a87204.jpg">Chung Cư 12 Tầng</option>
                                <option value="https://sw-hcm-1.vinadata.vn/v1/AUTH_4486f66f671c41bab0d3dea1904626d4/sdk/textures/5e7c81ee4bc3cf1de4a871f2.jpg">Công An</option>
                                <option value="https://sw-hcm-1.vinadata.vn/v1/AUTH_4486f66f671c41bab0d3dea1904626d4/sdk/textures/5e7c7ce74bc3cf1de4a871e6.JPG">Khách Sạn Nhỏ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Longtitude" class="control-label">Longtitude<span class="asterisk">*</span></label>
                            <input asp-for="Longtitude" class="form-control" id="lng"/>
                            <span asp-validation-for="Longtitude" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Latitude" class="control-label">Latitude<span class="asterisk">*</span></label>
                            <input asp-for="Latitude" class="form-control" id="lat"/>
                            <span asp-validation-for="Latitude" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Scale" class="control-label"></label>
                            <input asp-for="Scale" class="form-control" />
                            <span asp-validation-for="Scale" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Bearing" class="control-label"></label>
                            <input asp-for="Bearing" class="form-control" />
                            <span asp-validation-for="Bearing" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Elevation" class="control-label"></label>
                            <input asp-for="Elevation" class="form-control" />
                            <span asp-validation-for="Elevation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Name" class="control-label">Name<span class="asterisk">*</span></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 ">
                            <label asp-for="TypeObject" class="control-label"></label>
                            <input asp-for="TypeObject" class="form-control" />
                            <span asp-validation-for="TypeObject" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="MinZoom" class="control-label"></label>
                            <input asp-for="MinZoom" class="form-control" />
                            <span asp-validation-for="MinZoom" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="MaxZoom" class="control-label"></label>
                            <input asp-for="MaxZoom" class="form-control" />
                            <span asp-validation-for="MaxZoom" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map" style="height:400px"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <input asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Information" class="control-label"></label>
                    <textarea asp-for="Information" class="form-control"> </textarea>
                    <span asp-validation-for="Information" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Typeinfor" class="control-label"></label>
                    <input asp-for="Typeinfor" class="form-control" />
                    <span asp-validation-for="Typeinfor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Province" class="control-label"></label>
                    <input asp-for="Province" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Acreage" class="control-label"></label>
                    <input asp-for="Acreage" class="form-control" />
                    <span asp-validation-for="Acreage" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Village" class="control-label"></label>
                    <input asp-for="Village" class="form-control" />
                    <span asp-validation-for="Village" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Nest" class="control-label"></label>
                    <input asp-for="Nest" class="form-control" />
                    <span asp-validation-for="Nest" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Height" class="control-label"></label>
                    <input asp-for="Height" class="form-control" />
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ApartmentNumber" class="control-label"></label>
                    <input asp-for="ApartmentNumber" class="form-control" />
                    <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="FloorNummber" class="control-label"></label>
                    <input asp-for="FloorNummber" class="form-control" />
                    <span asp-validation-for="FloorNummber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

