@model MapIOTLinkAPI.Catalog.PlaceCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Place</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Name" class="control-label">Name<span class="asterisk">*</span></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Longtitude" class="control-label">Longtitude<span class="asterisk">*</span></label>
                            <input asp-for="Longtitude" class="form-control" id="lng" />
                            <span asp-validation-for="Longtitude" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Latitude" class="control-label">Latitude<span class="asterisk">*</span></label>
                                <input asp-for="Latitude" class="form-control" id="lat"/>
                                <span asp-validation-for="Latitude" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="TypeObject" class="control-label"></label>
                            <input asp-for="TypeObject" class="form-control" />
                            <span asp-validation-for="TypeObject" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Province" class="control-label"></label>
                            <input asp-for="Province" class="form-control" />
                            <span asp-validation-for="Province" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Village" class="control-label"></label>
                            <input asp-for="Village" class="form-control" />
                            <span asp-validation-for="Village" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Nest" class="control-label"></label>
                            <input asp-for="Nest" class="form-control" />
                            <span asp-validation-for="Nest" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Street" class="control-label"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ApartmentNumber" class="control-label"></label>
                            <input asp-for="ApartmentNumber" class="form-control" />
                            <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Lable" class="control-label"></label>
                            <input asp-for="Lable" class="form-control" />
                            <span asp-validation-for="Lable" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Rank" class="control-label"></label>
                            <input asp-for="Rank" class="form-control" />
                            <span asp-validation-for="Rank" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Time" class="control-label"></label>
                            <input asp-for="Time" class="form-control" />
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"> </textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="ShortDescription" class="control-label"></label>
                            <textarea asp-for="ShortDescription" class="form-control"></textarea>
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map" style="height:400px"></div>
                </div>
            </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

